@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --blanco:#f5f0ff;
  --morado:#6c2bd9;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --roboto: "Roboto", sans-serif;
   --texto: 12px;
  --titulares: 24px;

  --price: 18px;
  --discount: 1rem;
  --description: 1rem;
   }

<<<<<<< feature/navbar
body{
    font-family: var(--roboto);
    
}

/* Navbar*/

.nav-logo{
    width: 120px;
}
.bg-custom{
    background-color: var(--amarillo);
}
span{
    color: var(--gris-oscuro);
}
span:hover{
    color: var(--azul);
}
.barra-busqueda {
      background-color: #ecc92b; /* amarillo */
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .input-con-icono {
      position: relative;
      width: 300px;
    }

    .input-con-icono input {
      width: 100%;
      padding: 10px 40px 10px 15px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
    }

    .input-con-icono .fa-search {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: green;
      
    }
=======
.nuevo {
  background-color: #28a745;
  color: white;
  font-size: 0.8rem;
}
.camion {
  background-color: rgb(13, 202, 240);
}
.descuento1 {
  background-color: rgb(25, 135, 84);
}
.contenedor-vendedor {
  background-color: rgb(248, 249, 250);
}
.card-title {
  min-height: 48px;
}
.card-img-top {
  height: 300px;
  object-fit: contain;
}
.contenedor-imagenesChicas {
  width: 100%;
  height: 50px;
}
.imagenes-audifinos {
  width: 60px; /* Tamaño pequeño */
  height: 60px;
  object-fit: cover; /* Ajuste de imagen */
  border-radius: 5px; /* Bordes suaves */
  border: 2px solid transparent;
}
>>>>>>> develop
