@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --blanco:#f5f0ff;
  --morado:#6c2bd9;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --roboto: "Roboto", sans-serif;
   --texto: 12px;
  --titulares: 24px;

  --price: 18px;
  --discount: 1rem;
  --description: 1rem;
   }

   body {
    font-family: var(--roboto);
}    

.imagen-footer {
    width: 100%;
    height: 100%;
}

.texto-cartas {
    font-size: 12px;
}

.texto-titulo {
    font-size: 24px;
}
