@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --blanco:#f5f0ff;
  --morado:#6c2bd9;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --roboto: "Roboto", sans-serif;
   --texto: 12px;
  --titulares: 24px;

  --price: 18px;
  --discount: 1rem;
  --description: 1rem;
   }
   .categoria-img {
    height: 60px;
    margin-bottom: 10px;
    }
    .categoria-card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
.etiqueta-descuento {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: var(--verde);
      color: var(--blanco);
      font-size: 0.8rem;
      font-weight: bold;
      padding: 3px 6px;
      border-radius: 5px;
 }
 .categoria-nombre {
    font-size: var(--texto);
    color: var(--azul);
    }
    .Precios{
font-size: var(--texto);
}
.Envios{
    font-size: var(--texto);
    color: var(--verde);
    font-weight: bold;
}
.Precios1{
    text-decoration: line-through;
    font-size: var(--texto);
}